
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@300;600&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Bai Jamjuree', sans-serif;
}

header{
    background-image: url(/images/bg-header-desktop.png);
    background-size:cover;
    background-position: center;
}

.cabecalho {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 100px 1fr 1fr;
  }
  
  .logo-inicio {
    grid-column: 3/4;
    grid-row: 2/3;
    margin-left: 25%;

  }
  
  .logo-inicio img {
    max-width: 100%;
    height: auto;
  }
  

.textos-inicio{
    grid-column: 2/5;
    grid-row: 3/3;
    text-align: center;
}

.textos-inicio p{
    padding: 3% 18%;

}

h1{
    font-size: 40px;
    font-weight: 600;
}

.keep{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.primeiro{
    grid-row: 1/1;
    grid-column: 1/9;
    margin-bottom: 5%;
}

.primeiro p{
    margin: 0 29%;
    text-align: center;
}

.main{
    margin-top: 4%;
    height: 550px;
    width: 750px;
    object-fit: contain;
}

.elementos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    left: -4%;
    width: 80vw;
}

.textos-textos{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50%;
    width: 400px;
    margin-left: 6%;
}

p{
    font-size: 17px;
    font-weight: 300;

}

h2 {
    font-size: 30px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    margin: 2% 0%;
    margin-top: 10%;
}

.mine-texto{
    display: flex;
    justify-content: center;
    margin: 0px 30%;
    text-align: center;
}

.access{
    position: relative;
    left: 25%;
}

.secao3{
    margin-top: 7%;
    display: flex;
    align-items: center;
    text-align: center;
}

.mine-texto3{
    text-align: center;
}

.secao3 p{
    text-align: center;
}

.subtitulo3{
    font-size: 30px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    margin: 2% 0%;
}

.secao3-itens1{
    width: 33%;
}

.primeiro-item{
    padding: 0 15%;
}

.segundo-item{
    padding: 0 12%;

}

.terceiro-item{
    padding: 0 9%;

}

button{
        height: 45px;
        width: 178px;
        border-radius: 25px;
        margin-right: 2%;
        color: white;
        font-weight: 600;

}

.button:hover{
    cursor: pointer;
}

.ios{
    background-color: hsl(171, 66%, 44%);
}

.mac{
    background-color: hsl(233, 100%, 69%);
}

h3{
    font-size: 25px;
    font-weight: 600;

}

@media screen and (max-width: 600px){
    @import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@300;600&display=swap');

    
    .cabecalho {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 100px 170px 1fr;
    }

    .logo-inicio {
        grid-column: 3/4;
        grid-row: 2/3;
        margin-left: 0;
    }

    .textos-inicio {
        grid-column: 1/6;
        grid-row: 3/3;
        text-align: center;
        padding: 0 5%;
    }

    h1 {
        font-size: 27px;
        font-weight: 600;
    }

    .textos-inicio p {
        padding: 6% 0%;
    }

    .primeiro {
        grid-row: 1/1;
        grid-column: 1/9;
        margin-top: 35%;
    }

    .primeiro p {
        margin: 0 12%;
        text-align: center;
    }
    
    h2 {
        font-size: 30px;
        font-weight: 600;
        display: flex;
        justify-content: center;
        margin: 2% 5%;
        text-align: center;
    }


    .elementos {
        display: flex;
        justify-content: space-between;
        position: relative;
        left: 1%;
        width: 80vw;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }


    .main {
        height: 370px;
        width: 400px;
        object-fit: contain;
        display: flex;
        justify-content: center;
        margin-bottom: 15%;
    }

    .textos-textos {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 50%;
        width: 380px;
        text-align: center;
    }


    button {
        height: 50px;
        width: 312px;
        border-radius: 25px;
        margin-right: 2%;
        color: white;
        font-weight: 600;
        margin-top: 5%;
        font-size: 17px;
    }

    .subtitulo2{
        margin-top: 37%;
    }

    .mine-texto {
        display: flex;
        justify-content: center;
        margin: 0px 11%;
        text-align: center;
    }

    .access{
        position: relative;
        left: 4%;
    }

    .subtitulo3 {
        font-size: 30px;
        font-weight: 600;
        display: flex;
        justify-content: center;
        margin: 2% 6%;
    }

    .mine-texto3 {
        text-align: center;
        margin: 0 10%;
    }

    .secao3 {
        margin-top: 7%;
        display: flex;
        align-items: center;
        text-align: center;
        flex-direction: column;
    }

    .secao3-itens1{
        margin: 11% 0;
        width: 67%;
    }
    
    
    .secao3-itens{
        margin: 11% 0;
    }

    .primeiro-item {
        padding: 0px 10%;
    }

    .segundo-item {
        padding: 0 11%;
    }



}